// menu ================
.iLADtaueIG {
  height: 76px;
  display: flex;
  align-items: center;
  .ikDOvZxITU {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .kqAdKcHozX {
      .EWvuKglUKN {
        cursor: pointer;
      }
    }
    .ZOuiUtHtvp {
      .XZsqtMffgA {
        display: none;

        @media (max-width: 1200px) {
          display: block;
          font-size: 28px;
        }
      }

      .TNIwwzouys {
        display: none;

        @media (max-width: 1200px) {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #00000040;
          z-index: 1;
        }
      }

      .VyaXyKqXLW {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1200px) {
          position: fixed;
          height: 100%;
          width: 200px;
          padding-top: 50px;
          top: 0;
          left: -700px;
          z-index: 11;
          background-color: #ffffff;
          display: block;
          transition: 0.6s all;
        }

        &.HpUaUurwJO {
          @media (max-width: 1200px) {
            left: 0;
          }
        }

        .qrhkBMYcGX {
          .gGzOKdvNuu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;

            @media (max-width: 1200px) {
              display: block;
            }
            .wzChTCzOBu {
              margin-right: 7px;
              padding: 0px 8px 0px 12px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
              cursor: pointer;

              @media (max-width: 1200px) {
                display: block;
                height: auto;
                padding: 0px 0 0px 12px;
              }

              .ijgePvHfdq {
                display: flex;

                @media (max-width: 1200px) {
                  height: 40px;
                  justify-content: space-between;
                  align-items: center;
                }

                .dvkRvnvuKA {
                  color: #313331;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17px;
                }
                .mVtISIbDJs {
                  margin-left: 12px;
                }
              }

              .FOsxgdKAoW {
                position: absolute;
                top: 100%;
                right: 0;
                max-height: 0;
                overflow: hidden;
                transition: 0.4s all;
                width: 200px;
                background-color: #ffffff;

                @media (max-width: 1200px) {
                  position: unset;
                  width: auto;
                }

                .vPNTAJAHGT {
                  margin: 0;
                  padding: 0;
                  list-style-type: none;

                  .mmhezgHPkc {
                    color: #000000;
                    padding: 16px;
                    transition: 0.6s all;

                    &:hover {
                      background-color: #31333120;
                    }
                  }
                }
              }

              &.BWdppYCOKf {
                background-color: #313331;

                .ijgePvHfdq {
                  .dvkRvnvuKA {
                    color: #ffffff;
                  }
                  .mVtISIbDJs {
                  }
                }

                .FOsxgdKAoW {
                  max-height: 1000px;
                  overflow: visible;
                  z-index: 20;
                }
              }
            }
          }
        }

        .IQCByjNAdN {
          width: 109px;
          height: 44px;
          background: #ffffff;
          border: 1px solid #313331;
          text-transform: capitalize;
          color: #313331;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.6s all;
          margin-left: 55px;

          @media (max-width: 1200px) {
            margin: 24px auto;
          }

          &:hover {
            background-color: #313331;
            color: #ffffff;
          }
        }
      }
    }
  }
}
