.RNDniyVkqZ {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .zbliJAztBb {
    .wmPLOxTAul {
      margin-bottom: 39px;
      text-align: center;
      .UKIJmWuMCN {
        width: 229px;
        height: 63px;
      }
    }
    .tbwjbtHNhe {
      max-width: 830px;
      margin: 0 auto 39px auto;
      .MdsIbDKLPI {
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
      }
    }

    .jzjTyOOeZU {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
}
