.AJFrkzepye {
  background: #142944;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 254px;
  .vApfFyhUhD {
    margin-right: 30px;
    .khBEGSyJhn {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-transform: capitalize;
      color: #ffffff;
    }
    .iaLbXaKKIl {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }

  .NbeYsAAaEr {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 48px;

    .rUlXatKJNp {
      background: #ffffff;
      width: 231px;
      height: 48px;
      display: flex;
      align-items: center;
      .GITXtTeida {
        border: 0;
        outline: 0;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #000000;

        &::placeholder {
          color: #c2c2c2;
        }
      }
    }

    .JHwNzWGKOk {
      .jXqJuKIYqQ {
        width: 158px;
        height: 48px;
        background: #cb222a;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        transition: 0.6s all;
        
        &:hover {
          background-color: #cb222a50;
        }
      }
    }
  }
}
