.snElGSLNmQ {
  padding-bottom: 120px;
  .NnSxBIsuoI {
    .MMfVvhsLVK {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 81px;
    }
    .XTExbngyLb {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .VaquxsnUKk {
        flex-basis: calc(33% - 15px);
        margin-bottom: 35px;
        .vQcAdXDytg {
          width: calc(100% - 31px);
          height: 197px;
          margin: auto auto 20px auto;

          .qJNLDAUfGI {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: auto;
          }
        }
        .JsYXPtPyeG {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #313331;
          margin-bottom: 16px;
          padding-left: 15px;
          padding-right: 15px;
        }
        .EBINZolfnD {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #313331;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}
