.NSBVgsiILr {
  padding-bottom: 156px;
  .KizWpWHnNn {
    .mUIjNuGqBU {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 73px;
    }
    .WpBqTKomku {
      display: flex;
      justify-content: space-between;
      .kzsRZGbSsj {
        flex-basis: 33%;
        border-right: 1px solid #eeeeee;
        min-height: 325px;
        padding-top: 41px;

        &:last-child {
          border-right: 0;
        }
        .jNAByrdmhI {
          margin-bottom: 29px;
          text-align: center;
          .LlmQKyZrhD {
            width: 41px;
            height: 41px;
            object-fit: contain;
          }
        }

        .ezccLxmJOK {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #313331;
          padding-left: 37px;
          padding-right: 37px;
          margin-bottom: 11px;
        }
        .hpTbGUgSMG {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #313331;
          padding-left: 37px;
          padding-right: 37px;
        }
      }
    }
  }
}
