.RFsqBwFfDx {
  padding-top: 104px;
  .gWVJYTPoZM {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #313331;
    white-space: break-spaces;
  }
  .iEjXIcbLTO {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #313331;
    margin-bottom: 62px;
    white-space: break-spaces;
  }
  .qoINoGVEgL {
    text-align: center;
    .hNllUaqzHK {
    }
  }
}
