.TgCFPpSuJm {
  padding-top: 108px;
  .VWySdLLKwa {
    position: relative;
    margin-bottom: 175px;

    .SXoRqGRTZg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .FSKzfNpjVs {
        flex-basis: calc(556px);
        .WHBaNESkqr {
          .BWtJTGJKzA {
            height: 416px;
            width: 556px;
          }
        }
      }

      .FCjitlxKsb {
        flex-basis: calc(100% - 556px);
        padding-left: 64px;
        .JDOVFGvteG {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #313331;
          white-space: break-spaces;
        }
      }
    }

    .WTKPvPwjkv {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      position: absolute;
      bottom: calc(-197px / 2);
      right: 0;
      width: calc(100% - 63px);
      height: 197px;
      .AdwbmnHxqQ {
        padding: 31px 27px;
        flex-basis: 33%;

        .mZogAJKRvX {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #313331;
          margin-bottom: 11px;
        }
        .VynXYuiuKj {
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          color: #313331;
        }
      }
    }
  }
}
