.xaslCohnoT {
  .rDRfHCHxXJ {
    .wTSlispjcx {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #313331;
      margin-bottom: 34px;
    }
    .rBAxnbCWtS {
      display: flex;
      .juLRYOAlGI {
        flex-basis: 50%;
        padding-top: 31px;
        display: flex;
        .tvMeQUBDED {
          .hjTuooQiES {
            width: 46px;
            height: 46px;
            object-fit: contain;
          }
        }
        .kicAKpkeXW {
          padding-left: 29px;
          .ZMJCDFusSQ {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
            margin-bottom: 11px;
          }
          .sCSeiCAAJW {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #313331;
          }
        }
      }
    }
  }
}
