.mTRKMQNVXW {
  padding-bottom: 120px;
  .dsFanFLgkf {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #cb222a;
    background: #ffffff;
    width: 447px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cb222a;
  }
}
