.DsjHwbzcYM {
  padding-bottom: 126px;
  .iIoAFXiiVv {
    background: #f8f8f8;
    padding-top: 21px;
    padding-bottom: 26px;
    .xlATuGuOWH {
      display: flex;
      justify-content: space-between;
      .wKmcPquIAk {
        &:nth-child(1) {
          flex-basis: 199px;
        }
        &:nth-child(2) {
          flex-basis: 256px;
        }
        &:nth-child(3) {
          flex-basis: 256px;
        }
        &:nth-child(4) {
          flex-basis: 256px;
        }
        .VTRODiBYyQ {
          background-color: #ffffff;
          box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.1);
          .qtkGtkutij {
            background: #5a6bb0;
            display: flex;
            height: 71px;
            margin-bottom: 21px;
            position: relative;

            .PYQEVuzkAS {
              .ZcPsNkIJyR {
                text-align: center;
                color: #ffffff;
                font-size: 14px;
                padding-left: 24px;
                padding-right: 24px;
              }
            }

            .CVIxHmYRbJ {
              position: absolute;
              bottom: 100%;
              background: #5a6bb0;
              height: 56px;
              width: 100%;
              .ZPyYTcYqwl {
                width: 100%;
                height: 100%;
                position: relative;
                .ZVzktPlDSh {
                  height: 85px;
                  width: 85px;
                  background-color: #ffffff;
                  border-radius: 50%;
                  position: absolute;
                  left: 50%;
                  bottom: calc(100% - 85px / 2);
                  transform: translateX(-50%);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
        .XWNQPEjlYP {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #313331;
          margin-bottom: 21px;
          height: 71px;
          display: flex;
          align-items: center;
        }
        .wZgJmRTYpR {
          margin-bottom: 21px;
          height: 71px;
          display: flex;
          align-items: center;

          .wqWGEeuyVP {
            max-width: 192px;
            margin: auto;
            .nsaBowjIRI {
              text-align: center;
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
              text-align: center;
              color: #313331;
            }
            .ZcPsNkIJyR {
              text-align: center;
              color: #747874;
            }
          }
        }
        .IbXdiggGgw {
          position: relative;
          .uWUSbzIcsz {
            padding-left: 12px;
            margin: 0;
            .QdaRQtLWyi {
              line-height: 43px;
            }
          }

          .NPTdKWMcCE {
            padding-left: 12px;
            margin: 0;
            list-style-type: none;
            .xQfqqWXoyC {
              height: 43px;
              text-align: center;

              &.JEUdKojqbv {
                border-bottom: 1px solid #c2c2c2;
              }

              &.HKCPBIbYrQ {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .ZnlsXoivfQ {
                display: flex;
                .LCcESLlexr {
                  width: 22px;
                  height: 22px;
                  background: #ffffff;
                  border: 1px solid #5a6bb0;
                  margin-right: 14px;
                  border-radius: 50%;

                  &:last-child {
                    margin-right: 0;
                  }

                  &.YOZCCgreuB {
                    background-color: #5a6bb0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .geOGjZnaCh {
                    width: 12px;
                    height: 15.5px;
                  }
                }
              }
            }
          }
          .ijswMkHqyo {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: #ffffff;
            box-shadow: 10px 11px 14px #0000001a;
          }
        }
      }
    }
  }
}
