.VBhZSBeQLW {
  height: 990px;
  display: flex;
  align-items: center;

  @media (max-width: 1200px) {
    height: 550px;
  }

  .SXWoNSFnQA {
    position: relative;
    .uPqRpFprlg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      .UmXwjLKnhh {
        width: 730px;
        height: 416px;

        @media (max-width: 1200px) {
          max-width: 730px;
          max-height: 416px;
          width: 100%;
        }
      }
    }
    .QnXkiWhkcu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 765px;
      height: 204px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 1200px) {
        width: 100%;
        max-width: 765px;
      }

      @media (max-width: 700px) {
        display: block;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .osJnINuxtu {
        @media (max-width: 700px) {
          margin-bottom: 24px;
        }

        .WEYhzIkQlt {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-align: center;
          color: #313331;
        }
        .yAnNGPoAki {
          max-width: 195px;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #777777;

          @media (max-width: 700px) {
            max-width: unset;
            text-align: center;
          }
        }
      }
    }
  }
}
