.VBhZSBeQLW {
  height: 990px;
  display: flex;
  align-items: center;
  .SXWoNSFnQA {
    position: relative;
    .uPqRpFprlg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      .UmXwjLKnhh {
        width: 730px;
        height: 416px;
      }
    }
    .QnXkiWhkcu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 765px;
      height: 204px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .osJnINuxtu {
        .WEYhzIkQlt {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-align: center;
          color: #313331;
        }
        .yAnNGPoAki {
          max-width: 195px;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #777777;
        }
      }
    }
  }
}
