.rKRZYKFcqr {
  height: 314px;
  display: flex;
  align-items: center;
  justify-content: center;
  .fZpgIzecKn {
    .TRMfzGqFzw {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #313331;
      margin-bottom: 37px;
    }
    .AlwsvHjvCv {
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #313331;
      max-width: 928px;
      margin: auto;
    }
  }
}
