.WdZHPaJUsL {
  padding-bottom: 207px;

  .svoVqdrGDg {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #313331;
    margin-bottom: 105px;
  }
  .bYrVNJdzkW {
      .EePOugTXGX {
        display: flex;
        justify-content: space-between;
        .zGDsKXiVOp {
          flex-basis: calc(33% - 15px);
          margin: 0 5px;
          .QypwTPNqoS {
            height: 196px;
            margin-bottom: 32px;
            .SJVEIkshKX {
              width: 100%;
              height: 100%;
            }
          }
          .BSxRUWALKW {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            .kQIUVgbbKj {
              .FXIQCzUdUS {
                width: 48px;
                height: 20px;
                background: #ccf9d8;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #00b031;
              }
            }
            .mWlYDoscNs {
              font-style: italic;
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              text-align: right;
              color: #777777;
            }
          }
          .OKZiCgTrQx {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #313331;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-bottom: 16px;
          }
          .IpbDjzWUoq {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #313331;
            margin-bottom: 23px;
          }
          .LeEIMdbPao {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #cb222a;
          }
        }
      }

    .slick-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        width: 7.11px;
        height: 7.11px;
        background-color: #c2c2c2;
        border-radius: 50%;
      }
      li.slick-active {
        background-color: #cb222a;
        color: #cb222a;
        width: 10px;
        height: 10px;
      }
      li button:before {
        display: none;
      }
    }
  }
}
