.dXmSTTLHQi {
  .mCjLcmpFPk {
    padding-top: 176px;
    padding-bottom: 208px;
    .HyDfhggjXe {
      display: flex;
      justify-content: space-between;
      width: 910px;
      margin: 0 0 0 auto;
      .QfDoodNPUg {
        flex-basis: calc(50% - 10px);
        .rJbDXuhMZw {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-transform: capitalize;
          color: #313331;
          margin-top: 30px;
          margin-bottom: 80px;
        }
      }
      .LOKkhgrzEe {
        flex-basis: calc(50% - 10px);
      }
    }
  }
}

.dmOJXeLHPg {
  margin-bottom: 50px;

  .kOKKLQkCvz {
    .hyCIrFTAOq {
      width: 100%;
      height: 445px;
      margin-bottom: 28px;
    }
  }
  .qOriJZDUwq {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #313331;
    margin-bottom: 9px;
  }
  .NyAqjhiELb {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #cb222a;
  }
}
