.fSTLvrgvKt {
  background: #142944;
  padding-top: 79px;
  padding-bottom: 135px;

  .BlpEJrISXN {
    .LHchJgDqrk {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      margin-bottom: 70px;
    }
    .NPWcBHPdBy {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .XMVnTTiQVt {
        flex-basis: calc(50% - 15px);
        margin-bottom: 60px;

        @media screen {
          flex-basis: calc(100%);
        }
        .MljFutRpYK {
          margin-bottom: 24px;
          .GvMWIYQXCn {
            width: 100%;
          }
        }
        .BzTTmqDpqY {
          margin-bottom: 14px;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #ffffff;
        }
        .kyTTgOGgnS {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #cb222a;
        }
      }
    }
  }
}
