.bdkTtOROci {
  .RAiNllHuyS {
    position: relative;
    .uSDdEFzHYz {
      .slick-next {
        right: 25px;
      }
      .slick-prev {
        left: 25px;
      }

      .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 23px;
        transform: translateX(-50%);
        li {
          width: 7.11px;
          height: 7.11px;
          background-color: #ffffff;
          border-radius: 50%;
        }
        li.slick-active {
          width: 10px;
          height: 10px;
          background-color: #cb222a;
          color: #cb222a;
        }
        li button:before {
          display: none;
        }
      }
    }
  }
}

// item =============
.ABlEMYolHz {
  position: relative;
  .lpvVqGcPTv {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    .YHNyOFnTTo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .qIfYHhThla {
    position: relative;
    z-index: 1;

    .DEfBfkoSLD {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 581px;

      @media (max-width: 1200px) {
        display: block;
        height: auto;
        padding-top: 40px;
        padding-bottom: 80px;
        text-align: center;
      }

      .qBajkTIXyz {
        width: 481px;

        @media (max-width: 1200px) {
          width: 100%;
        }

        .jJlzQBvBIR {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          margin-bottom: 7px;
        }
        .cuTmJTzgUC {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-transform: capitalize;
          color: #ffffff;
          margin-bottom: 28px;
        }
        .oaUyNLhdRP {
          display: flex;
          align-items: center;

          @media (max-width: 1200px) {
            justify-content: center;
            margin-bottom: 24px;
          }

          .bQLobhqdez {
            width: 144px;
            height: 109px;
            object-fit: contain;
            margin-right: 7px;
          }
        }
      }
      .DCJiCEYvSD {
        width: 485px;

        @media (max-width: 1200px) {
          justify-content: center;
          width: calc(100% - 32px);
          max-width: 485px;
          margin: auto auto 24px auto;
        }

        @media (max-width: 700px) {
          width: calc(100% - 32px);
        }

        .ShCDnSURBJ {
          @media (max-width: 700px) {
            height: 200px;
          }
        }
      }
    }
  }
}
