.bdkTtOROci {
  .RAiNllHuyS {
    position: relative;
    .uSDdEFzHYz {
      .slick-next {
        right: 25px;
      }
      .slick-prev {
        left: 25px;
      }

      .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 23px;
        transform: translateX(-50%);
        li {
          width: 7.11px;
          height: 7.11px;
          background-color: #ffffff;
          border-radius: 50%;
        }
        li.slick-active {
          width: 10px;
          height: 10px;
          background-color: #cb222a;
          color: #cb222a;
        }
        li button:before {
          display: none;
        }
      }
    }
  }
}

// item =============
.ABlEMYolHz {
  position: relative;
  .lpvVqGcPTv {
    position: absolute;
    z-index: 0;
    width: 100%;
    .YHNyOFnTTo {
      width: 100%;
    }
  }
  .qIfYHhThla {
    position: relative;
    z-index: 1;

    .DEfBfkoSLD {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 581px;
      .qBajkTIXyz {
        width: 481px;

        .jJlzQBvBIR {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          margin-bottom: 7px;
        }
        .cuTmJTzgUC {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-transform: capitalize;
          color: #ffffff;
          margin-bottom: 28px;
        }
        .oaUyNLhdRP {
          display: flex;
          align-items: center;
          .bQLobhqdez {
            width: 144px;
            height: 109px;
            object-fit: contain;
            margin-right: 7px;
          }
        }
      }
      .DCJiCEYvSD {
        width: 485px;
        .ShCDnSURBJ {
        }
      }
    }
  }
}
