.veojzQjoSI {
  padding-top: 130px;

  @media (max-width: 700px) {
    padding-top: 56px;
  }

  .cXjKWozutF {
    position: relative;
    .KbFTqrRWSD {
      position: absolute;
      top: 0;
      left: 0;
      .uWXNYLrCyZ {
        width: 778px;

        @media (max-width: 1200px) {
          width: 100%;
          max-width: 778px;
        }
      }
    }

    .iNzXenhHCj {
      display: flex;
      justify-content: flex-end;
      .kQFHTLqPss {
        width: 700px;
        position: relative;

        @media (max-width: 1200px) {
          width: 100%;
          max-width: 700px;
        }

        .YYQohNmAHv {
          margin-top: 20px;
          margin-bottom: 74px;
          text-align: center;
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          text-transform: capitalize;
          color: #313331;
        }
        .fcCHdHMrJE {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          background-color: #ffffff;

          .StjvRqrbev {
            flex-basis: 50%;
            margin-bottom: 20px;

            @media (max-width: 700px) {
              flex-basis: 100%;
            }

            .NIIdwOtIXI {
              padding: 31px 28px 36px 26px;
              .IydGkLszEC {
                font-weight: 500;
                font-size: 32px;
                line-height: 38px;
                color: #313331;
                margin-bottom: 11px;
              }
              .aQkWOzxVNg {
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                color: #313331;
              }
            }
          }
        }
      }
    }
  }
}
