.tQABJqigjF {
  text-align: center;
  margin-bottom: 21px;
  .wmuFooXlAs {
    width: 79px;
    height: 79px;
    border-radius: 50%;
  }
}

.sQEPOxcDwQ {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #313331;
  margin-bottom: 169px;

  span {
    color: #CB222A;
  }
}
